{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}
    <h1>Ajouter un article</h1>

    {{form(form)}}
    <a href="{{ path('app_item_list') }}">Retour à la liste des articles</a>
{% endblock %}