{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Créer un boxeur{% endblock %}

{% block body %}
    <h1>Créer un boxeur</h1>

    {{form(form)}}
    <a href="{{ path('app_boxer_index') }}">Retour à la liste des boxeurs</a>
{% endblock %}