{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Ajout d'un utilisateur{% endblock %}

{% block body %}
    <h1>Ajouter un utilisateur</h1>

    {{ form(form)}}

    <a href="{{ path('app_user_index') }}">Retour à la liste des utilisateurs</a>
{% endblock %}